nav{
    background-color: #0082e6;
    width: 100%;
    height: auto;
}
label.logo {
    color: white;
    line-height: 80px;
    font-size: 35px;
    padding: 0px 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none; 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
.checkBtn{
    font-size: 35px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 426px){
    label.logo{
        font-size: 25px;
        padding: 0px 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .checkBtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -10%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
















/* .navbar-parent{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;
}
.icon-image{
    width: 170px;
    height: 50px;
}
.nav-bar-links a{
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
}
.active{
  color: #FF444A;
  transition:.5s;
}

@media screen and (max-width: 426px) {
    .navbar-parent{
       flex-direction: column;
       padding: 50px 20px;
    }
   
    .nav-bar-links a{
       display: flex;
       flex-direction: column;
    }
  } */