nav{
    /* background: rgba(255, 255, 255, 0.95); */
    /* background:red; */
    width: 100%;
    height: 90px;
}

nav ul{
    float: right;
    margin-right: 100px;
    list-style: none; 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
   
}
nav ul li a{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
}

.icon-image{
    width: 170px;
    height: 70px;
    margin-left: 100px;
    padding-top: 25px;
}
.active{
    color: #FF444A;
    transition: .5s;
    font-weight: 600;
    text-decoration: underline;
}

.checkBtn{
    padding-top: 10px;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 769px){ 
    nav ul{
        margin-right: 70px;
    }
    .icon-image{
        margin-left: 70px;
    }
}
@media (max-width: 769px){ 
    .icon-image{
        margin-left: 40px;
    }
   .checkBtn{
    display: block;
   }
   ul{
    position: fixed;
    width: 100%;
    height: 50vh;
    background: white;
    top: 90px;
    left: -100%;
    text-align: center;
    transition: all .5s;
   }
   nav ul li{
    display: block;
    margin: 30px 0px;
    line-height: 30px;
   }
   nav ul li a{
    font-size: 20px;
   }
   #check:checked ~ ul{
    left: 0;
  }

}
