.no-donation-selected{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-donation-heading{
    font-size: 30px;
    font-weight: 600;
}

@media(max-width:426px){
    .no-donation-heading{
        font-size: 20px;
        font-weight: 600;
    }
    
}