.banner-parent{
    /* position: absolute; */
    /* top: 0;  */
    width: 100%;
    height: auto;
}
.background-image{
    background-image: url(../../images/donation-campaigners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    opacity: 0.05;
}
.banner-heading-parent{
    position: absolute;
    top: 90px;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-heading{
   font-size: 30px;
   font-weight: 600;
   text-align: center;
   padding: 0px 20px;
   line-height: 2.5rem;
}
.input-button-parent{
    margin-top: 30px;
}
.search-input-field{
    padding: 0px 0px 0px 10px;
    margin-right: 0px;
    font-size: 20px;
    width: 360px;
    height: 49px;
    border: none;
    outline: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid #DEDEDE;
}

.search-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #FF444A;
  border: 1px solid transparent;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: 13px 30px;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.search-button:hover,
.search-button:focus {
  background-color: #FF444A;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.search-button:hover {
  transform: translateY(-1px);
}

.search-button:active {
  background-color: #FF444A;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


@media (max-width:426px){
    .banner-heading{
        font-size: 22px;
        line-height: 2rem; 
    }
    .search-input-field{
        width: 250px;
    }
}
@media (max-width:321px){
    .search-input-field{
        width: 210px;
    }
    .search-button{
    padding: 13px 15px;
    }
}